{% extends "base_generic.html" %}

{% block content %}
    <div id="admin">
        <div class="headspace">
        </div>
        <div class="a_header" id="logout_confirm">
            <h1>Are you sure you want to sign out?</h1>
        </div>
        <div class="a_buttons" id="logout_confirm">
            <ul class="nav">
                <li><a href="index.html">Sign Out</a></li>
                <li><a href="admin_landing_pg.html">Go Back</a></li>
            </ul>
        </div>
        <div class="a_footer">
            <a href="index.html">Sign Out</a>
        </div>
    </div>
{% endblock %}