<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Failed</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
    <div id="login_wrap">
        <div class="header">
            <img src="images/Official_VA_Seal_embossed_web_9in.png" class = "logo" alt="logo">
        </div>
        <div class="title">
            <h1>Virtual Reality Innovation Project </h1>
            <h1>Veteran's Association</h1>
                
        </div>
        <div class="login_box" id="login_fail">
            <h2>The username/password combination <br> was not recognized </h2>
            <a href="#">Request admin help</a>
                <br>
                <br>
            <a href="index.html">Try again</a>
        </div>
        <div class="blank_space">

        </div>
        <div class="footer">
            <ul class="nav">
                <li><a href="#">About</a></li>
                <li><a href="#">Mission</a></li>
                <li><a href="#">Meet the Team</a></li>
                <li><a href="#">Documentation</a></li>
            </ul>
        </div>
    </div>
</body>
</html>