<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Portal</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
    <div id="patient_landing">
        <div class="p_header">
            <h1>Welcome Back, username!</h1>
            <h2>What can I help you with?</h2>
        </div>
        <div class="p_buttons">
            <a href="chatbot.html">Daily Check In</a>
            <br>
            <br>
            <br>
            <a href="patient_progress.html">Review Progress</a>
        </div>
        <div class="p_calendar">
            <h4>Month</h4>
        </div>
        <div class="p_footer">
            <ul class="nav">
                <li><a href="index.html" id="log_out">Log Out</a></li>
                <li><a href="#" id="get_help">Get Help</a></li>
                <li><a href="#">Tips</a></li>
            </ul>
        </div>
    </div>
</body>
</html>