{% extends "base_generic.html" %}

{% block content %}
    <div id="survey">
        <div class="headspace">
        </div>
        <div class="survey_header">
            <h1>Please complete the following patient health survey.</h1>
            <h4>Responses will be recorded for research purposes only.</h4>
        </div>
        <div class="pre_session">
            <h4>Patient status PRIOR to virtual reality session.</h4>
            
            <form action="" method="post">
                {% csrf_token %}
                <label for="painScore">Pain Score:</label>
                <input type="text" id="painScore" name="painScore" placeholder="0-10"><br>
                
                <label for="heartRate">Heart Rate:</label>
                <input type="text" id="heartRate" name="heartRate" placeholder="BPM"><br>
                
                <label for="bloodPressure">Blood Pressure:</label>
                <input type="text" id="bloodPressure" name="systolicBP" placeholder="Systolic"> / <input type="text" id="bloodPressure" name="diastolicBP" placeholder="Diastolic"><br>
                
                <label for="respirationRate">Respiration Rate:</label>
                <input type="text" id="respirationRate" name="respirationRate" placeholder="R/min"><br>
                
                <label for="oxygenSaturation">Oxygen Saturation:</label>
                <input type="text" id="oxygenSaturation" name="oxygenSaturation" placeholder="%"><br>
                
                <b>Please check all that apply:</b><br>
                
                <input type="checkbox" id="restlessness" name="restlessness">
                <label for="restlessness" class="checkbox">Restlessness</label><br>
                
                <input type="checkbox" id="depression" name="depression">
                <label for="depression" class="checkbox">Depression</label><br>
                
                <input type="checkbox" id="nausea" name="nausea">
                <label for="nausea" class="checkbox">Nausea</label><br>
                
                <input type="checkbox" id="mobility" name="mobility">
                <label for="mobility" class="checkbox">Loss of mobility</label> <br>
                
                <input type="checkbox" id="Anxiety" name="anxiety">
                <label for="anxiety" class="checkbox">Anxiety</label><br>
                
                <input type="checkbox" id="visiblePain" name="visiblePain">
                <label for="visiblePain" class="checkbox">Visible pain</label><br>
                
                <input type="checkbox" id="tremors" name="tremors">
                <label for="tremors" class="checkbox">Tremors</label><br>
                
                <input type="checkbox" id="delusions" name="delusions">
                <label for="delusions" class="checkbox">Delusions</label><br>


                <h4>Patient status AFTER the virtual reality session.</h4>


                <label for="painScore2">Pain Score:</label>
                <input type="text" id="painScore2" name="painScore2" placeholder="0-10"><br>
                <label for="heartRate2">Heart Rate:</label>
                <input type="text" id="heartRate2" name="heartRate2" placeholder="BPM"><br>
                <label for="bloodPressure2">Blood Pressure:</label>
                <input type="text" id="bloodPressure2" name="systolicBP2" placeholder="Systolic"> / <input type="text" id="bloodPressure2" name="diastolicBP2" placeholder="Diastolic"><br>
                <label for="respirationRate2">Respiration Rate:</label>
                <input type="text" id="respirationRate2" name="respirationRate2" placeholder="R/min"><br>
                <label for="oxygenSaturation2">Oxygen Saturation:</label>
                <input type="text" id="oxygenSaturation2" name="oxygenSaturation2" placeholder="%"><br>
                <b>Please check all that apply:</b><br>
                <input type="checkbox" id="restlessness2" name="restlessness2">
                <label for="restlessness2" class="checkbox">Restlessness</label><br>
                <input type="checkbox" id="depression2" name="depression2">
                <label for="depression2" class="checkbox">Depression</label><br>
                <input type="checkbox" id="nausea2" name="nausea2">
                <label for="nausea2" class="checkbox">Nausea</label><br>
                <input type="checkbox" id="mobility2" name="mobility2">
                <label for="mobility2" class="checkbox">Loss of mobility</label> <br>
                <input type="checkbox" id="anxiety2" name="anxiety2">
                <label for="anxiety2" class="checkbox">Anxiety</label><br>
                <input type="checkbox" id="visiblePain2" name="visiblePain2">
                <label for="visiblePain2" class="checkbox">Visible pain</label><br>
                <input type="checkbox" id="tremors2" name="tremors2">
                <label for="tremors2" class="checkbox">Tremors</label><br>
                <input type="checkbox" id="delusions2" name="delusions2">
                <label for="delusions2" class="checkbox">Delusions</label><br>

                <b>Please input the duration of the session in minutes:</b><br>
                

                <a href="staffLandingPage" id="surveyBtn">Cancel</a>
                <input type="submit" value="Submit" id="surveyBtn" class = "SubmitButton">
              </form>
        </div>
    </div>
{% endblock %}