{%extends "base_generic.html" %}

{% block content %}



    <div id="login_wrap">

        <div class="title">
            <h1>Virtual Reality Innovation Project </h1>
            <h1>Veteran's Association</h1>
                
        </div>
        

        <div class="login_box">
            <h1>Your password has been reset</h1>
            <p>You can now use the link below to login</p>
            <br>
            <br>
            <a href="{% url 'login'%}">Click here to log in again.</a>
        </div>
    </div>

    

{% endblock %}