{%extends "base_generic.html" %}

{% block content %}

    {% if validlink %}

    <div id="login_wrap">

        <div class="title">
            <h1>Virtual Reality Innovation Project </h1>
            <h1>Veteran's Association</h1>
                
        </div>
        

        <div class="login_box">
            <h1>Enter a new password</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Change my password">
            </form>
        </div>
    </div>

    {% else %}

    <div id="login_wrap">

        <div class="title">
            <h1>Virtual Reality Innovation Project </h1>
            <h1>Veteran's Association</h1>
                
        </div>
        

        <div class="login_box">
            <h1>Invalid Link</h1>
            <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
        </div>
    </div>
    
    {% endif %}
    {% endblock %}

