{%extends "base_generic.html" %}

{% block content %}



    <div id="login_wrap">

        <div class="title">
            <h1>Virtual Reality Innovation Project </h1>
            <h1>Veteran's Association</h1>
                
        </div>
        

        <div class="login_box">
            <h1>Check your inbox</h1>
            <p>If you have an account with that email address you should soon recive a email with instructions on how to reset your password.</p>
            <br>
            <br>
            <a href="{% url 'login'%}">Click here to log in again.</a>
        </div>
    </div>

    

{% endblock %}