{%extends "base_generic.html" %}

{% block content %}



    <div id="login_wrap">

        <div class="title">
            <h1>Virtual Reality Innovation Project </h1>
            <h1>Veteran's Association</h1>
                
        </div>
        

        <div class="login_box">
            <h1>Forgot Your Password?</h1>
            <p>Enter your email address below, you will be sent a reset fourm.</p>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Send me instructions!">
            </form> 
        </div>
    </div>

    

{% endblock %}