:root {
    /* Colors */
    --accent-grey-01: #5F93AE;
    --accent-grey-02: #c0e9f8;
    --accent-blue-01: #5F93AE;
    --accent-blue-02: #C5DEEB;
    --accent-blue-03: #bfebff;
    --accent-blue-04: #859BA7;
    --accent-blue-05: #456E84;
    --accent-blue-06: #5F93AE;
    --accent-green: #80ff91;
    --accent-red: #FF5757;
}
* {
    line-height: 1em;
}


body{
    margin:0;
    padding:0;
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    line-height: 1.5em;
}

ul {
    padding-left: 0px;
}

ul li a {
    text-decoration: none;
    border:3px solid var(white);
    border-radius:50em;
    color: white;
    padding: 10px 10px;
    margin: 4px 4px;
    font-weight: none;
    font-size: 20px;
    background-color: var(--accent-blue-02);
}

a {
    text-decoration: none;
    border:3px solid white;
    border-radius:50em;
    color: white;
    background-color: black;
    padding:4px 39px;
    margin: 4px 4px;
    font-weight: none;
    font-size: 18px;
}

table {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
td {
    border: none;
}
td #us {
    padding: 4px 4px;
}

.nav {
    list-style:none;
    padding: 0px;
    display:flex;
    justify-content: center;
}

::placeholder {
    color: #465259;
}

#loggedOut {
    background-color: var(--accent-grey-02);
    height: 100vh;
    display: grid;
    grid-template-columns: 
    1fr
    1fr
    1fr
    ;
    grid-template-rows: 
    1fr
    120px
    120px
    1fr
    ;
    grid-template-areas: 
    ". . ."
    "heading heading heading"
    ". logInAgain ."
    ". . ."
    ;
}
#loggedOut h1{
    grid-area: heading;
    text-align: center;
    color:#1a6692;
}
#loggedOut a {
    grid-area: logInAgain;
    text-align: center;
    display: inline-block;
    border: none;
    border-radius:50em;
    color: white;
    padding: 28px 10px;
    margin: 10px 4px;
    font-weight: none;
    font-size: 20px;
    background-color:#1a6692;
}

@media screen and (max-width: 500px) {
    #loggedOut {
        background-color: var(--accent-grey-02);
        height: 100vh;
        display: grid;
        grid-template-columns: 
        1fr
        2fr
        1fr
        ;
        grid-template-rows: 
        1fr
        120px
        120px
        1fr
        ;
        grid-template-areas: 
        ". . ."
        "heading heading heading"
        ". logInAgain ."
        ". . ."
        ;
    }
}


/**********************/
/**** Log in page ****/
/********************/
#login_wrap {
    background-color: var(--accent-grey-01);
    height:100vh;
    width: 100vw;
    display:grid;
    grid-template-columns:
        5vw 
        45vw
        45vw
        5vw
    ;
    grid-gap: 0px;
    grid-template-rows:
        100px
        170px
        40px
        253px
        1fr
        100px
    ;
    grid-template-areas: 
        ". . header ."
        ". title title ."
        ". . . ."
        ". login_box login_box ."
        "blank_space blank_space blank_space blank_space"
        "footer footer footer footer"

    ;
}
.header {
    grid-area: header;
    background-color: var(--accent-grey-01);
}
.header .logo {
    width:100px;
    padding-left: 160px;
    align-items: center;
}
.title {
    grid-area: title;
    text-align: center;
    color: white;
    font-weight: normal;
}
.title h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 1em;
}
.login_box {
    grid-area: login_box;
    background-color: var(--accent-grey-01);
    border:none;
    border-radius: 0em;
    color: white;
    margin: 0px 0px;
    padding: 10px 10px;
    align-items: center;
    text-align: center;
}

.login_box h2 {
    margin-top: 0px;
    margin-bottom: 23px;
    text-align: center;
    font-weight: lighter;
    font-size: 28px;
}
.login_box .nav {
    list-style:none;
    display:flex;
    justify-content: center;
}
.login_box .nav a, .login_box input[type=submit], .login_box input[type=button] {
    text-decoration: none;
    border: none;
    border-radius:50em;
    color: white;
    background-color: black;
    padding:4px 39px;
    margin: 4px 4px;
    font-weight: none;
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
}
.login_box input[type=submit], .login_box input[type=button] {
    padding: 15px 25px;
}
#login_fail a {
    text-decoration: none;
    border:3px solid white;
    border-radius:50em;
    color: white;
    background-color: black;
    padding:4px 39px;
    margin: 4px 4px;
    font-weight: none;
}
.blank_space {
    grid-area: blank_space;
    display:flex;
}
.footer {
    grid-area: footer;
    display:flex;
    margin-top:30px;
    justify-content: center;
    text-align: center;
}
.footer .nav {
    list-style:none;
    padding: 0;
    display:flex;
    justify-content: center;
}
.footer input[type="button"] {
    text-decoration: none;
    border: none;
    border-radius:50em;
    color: black;
    padding: 15px 20px;
    margin: 0 10px;
    font-weight: none;
    font-size: 20px;
    background-color: var(--accent-grey-02);
}
.footer .nav input[type="button"]:hover, .footer .nav .active {
    background-color: white;
}
.login_box input[type=submit]:hover, .login_box input[type=button]:hover {
    background-color: white;
    color: black;
}
@media screen and (max-width:800px) {
    #login_wrap {
        grid-template-columns:
            5vw
            90vw
            5vw
        ;
        grid-gap: 0px;
        grid-template-rows:
            10vh
            20vh
            40vh
            7vh
            2vh
        ;
        grid-template-areas: 
            ". . ."
            "title title title"
            ". login_box ."
            ". . ."
            ". footer ."
    
        ;
    }
    .login_box {
        border-radius: 0em;
        border: none;
        background-color: var(--accent-grey-01);
        padding: 10px 10px;
        color: white;
    }
    .login_box input[type=submit], .login_box input[type=button] {
        font-size: 2.5vw;
    }
    #login_wrap .title h1 {
        font-size: 5vw;
    }
    #login_wrap h2 {
        font-size: 4.5vw;
        margin-left: 5px;
        margin-right: 5px;
    }
    .footer input[type="button"]{
        font-size: 3vw;
    }
    td {
        font-size: 4vw;
    }
}
@media screen and (max-width:490px) {
    #login_wrap .title h1 {
        font-size: 5vw;
    }
    #login_wrap h2 {
        font-size: 4.8vw;
    }
    td {
        font-size: 3.8vw;
        margin: 15px 15px;
    }
    .login_box input[type=submit], .login_box input[type=button] {
        font-size: 4vw;
    }
    .footer input[type="button"]{
        font-size: 4vw;
    }
}


/*************************/
/* Patient Landing Page */
/************************/

#patient_landing {
    background-color: var(--accent-grey-02);
    height:100vh;
    display:grid;
    text-align: center;
    align-content: center;
    grid-template-columns:
        1fr
    ;
    grid-gap: 0px;
    grid-template-rows:
        303px
        200px
        1fr
        1fr
    ;
    grid-template-areas: 
        "p_header"
        "p_buttons"
        "p_calendar"
        "p_footer"
    ;
}
.p_header {
    grid-area: p_header;
    color: #102b3d;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.p_header h1 {
    margin-top: 134px;
    margin-bottom: 0px;
    font-size: 38px;
}
.p_header h2 {
    margin-top: 32px;
    margin-bottom: 63px;
    font-size: 25px;
}
.p_buttons {
    margin: 0 auto;
    grid-area: p_buttons;
    text-align: center;
    padding: 0px;
}
.p_buttons li {
    list-style: none;
}
.p_buttons input[type=button] {
    text-decoration: none;
    border: none;
    border-radius:50em;
    color: white;
    background-color: #102b3d;
    padding: 15px 15px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: none;
    font-size: 22px;
}
.p_calendar {
    grid-area: p_calendar;
    width: 600px;
    display: inline-block;
    position: inherit;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    border: none;
    border-radius: 3em;
    color: #102b3d;
    padding: 15px 15px;
}
.p_calendar ul {
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 5px 5px;
    
}
.p_calendar li {
    color: #2874a7;
    font-weight: bold;
    display: inline-block;
    align-content: center;
    margin: 0px 0px;
    height: 1ch;
}

.p_footer {
    grid-area: p_footer;
}
.p_footer .nav {
    list-style:none;
    padding: 0;
    display:flex;
    justify-content: right;
    margin-bottom: 14px;
}
.p_footer .nav a, .logout a, .back a {
    text-decoration: none;
    border: none;
    border-radius:130em;
    color: #102b3d;
    padding: 15px 15px;
    margin: 0px 0px;
    font-weight: none;
    background-color: white;
    font-size: 20px;
}
.p_footer .nav a {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 14px;
    margin-top: 100px;
}
.p_footer #get_help .nav a {
    padding: 10px 10px;
}
.p_footer .nav a:hover, .p_footer .nav .active, .p_buttons input[type=button]:hover {
    background-color:#1a6692;
    color: white;
}
@media screen and (max-width: 1200px) {
    #patient_landing {
        grid-template-columns:
            1fr
        ;
        grid-gap: 0px;
        grid-template-rows:
            200px
            150px
            1fr
            1fr
        ;
        grid-template-areas: 
            "p_header"
            "p_buttons"
            "p_calendar"
            "p_footer"
        ;
    }
    .p_header h1 {
        margin-top: 50px;
    }
    .p_calendar {
        width: 500px;
        align-content: center;
    }
    .p_calendar h4 {
        margin-top: 10px;
    }
}
@media screen and (max-width: 544px) {
    .p_calendar {
        width: 90vw;
    }
    #patient_landing h1 {
        font-size: 7vw;
    }
    #patient_landing h2 {
        font-size: 5vw;
    }
    .p_buttons input[type=button] {
        font-size: 6vw;
    }
    .p_footer .nav a {
        font-size: 5vw;
    }
}


/********************/
/***** Chatbot *****/
/******************/
#bert {
    background-color: var(--accent-grey-02);
    height:100vh;
    overflow-x: hidden;
    display:grid;
    grid-template-columns:
        1fr
        346px
    ;
    grid-gap: 0px;
    grid-template-rows:
        119px
        2.5fr
        0px
        1fr
    ;
    grid-template-areas: 
        "chatbot_online open_menu"
        "chat_history chat_history"
        "predefined_responses predefined_responses"
        "text_area text_area"
    ;
}
.chatbot_online {
    grid-area: chatbot_online;
    background-color: #dcf4ff;
    font-size: 30px;
    text-align: left;
}
.chatbot_online ul li {
    list-style: none;
    display: inline-block;
    margin: 0 0 0px 0;
    padding:0;
    position: relative;
}
.chatbot_online ul li::before{
    content: "\25C9";
    color:#9CFFAA;
    font-weight: bold;
    display: inline-block;
    margin-top: 25px;
    font-size: 1em;
    left: -1.1225em;
    top:0em;
    
}
.open_menu {
    grid-area: open_menu;
    background-color: #dcf4ff;
    text-align: center;
    position: relative;
}
.open_menu input[type=button] {
    text-decoration: none;
    border: none;
    border-radius:130em;
    color: white;
    font-weight: none;
    background-color: var(--accent-red);
    padding: 15px 20px;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 40px;
    display: inline-block;
}
.chat_history {
    grid-area: chat_history;
    max-height: 700px;
    overflow: scroll;
    text-align: left;
    
}
.history{
    overflow: scroll;
    scroll-snap-align: end;
}
.chat_history ul li {
    list-style: none;
    list-style-type: none;
    /* display: inline-block; */
    margin: 0 0 16px 0;
    padding:0;
    position: relative;
    font-size: 20px;
    padding-left: 15px;
}
.chat_history ul li:last-child {
    scroll-snap-align: end;
}
.chat_history .patient_answer ul li::before{
    content: "\258C";
    color:#B3BFFF;
    font-weight: bold;
    display: inline-block;
    font-size: 1em;
    left: -1.1225em;
    top:0em;
    
}
.chat_history .bert_answer ul li::before{
    content: "\258C";
    color:#9CFFAA;
    font-weight: bold;
    display: inline-block;
    font-size: 1em;
    left: -1.1225em;
    top:0em;
    
}
.predefined_responses {
    grid-area: predefined_responses;
}
.predefined_responses .nav {
    list-style:none;
    padding: 0;
    display:flex;
    justify-content: left;
    margin-left: 70px;
    margin-bottom: 14px;
    margin-top: 0px;
}
.predefined_responses .nav a {
    text-decoration: none;
    border:3px solid var(--accent-blue-01);
    border-radius:130em;
    color: var(--accent-blue-01);
    padding: 15px 10px;
    margin: 0px 4px;
    font-weight: none;
    background-color: white;
    font-size: 20px;
}
.predefined_responses .nav a:hover {
    background-color: var(--accent-grey-02);
}
.text_area {
    grid-area: text_area;
}
.text_area input {
    background-color: var(--accent-grey-02);
    border:none;
    padding: 10px 10px;
    font-size: 20px;
    color: black;
    width: 100%;
    margin-left: 16px;
}
#bert button {
    border: none;
    border-radius:130em;
    color: white;
    font-weight: none;
    background-color:#00ce1b;
    padding: 15px 20px;
    font-size: 1vw;
    margin-left: 16px;
}

@media screen and (max-width: 1200px) {
    #bert {
        grid-template-columns:
            1fr
            1fr
        ;
        grid-gap: 0px;
        grid-template-rows:
            119px
            2.5fr
            0px
            1fr
        ;
        grid-template-areas: 
            "chatbot_online open_menu"
            "chat_history chat_history"
            "predefined_responses predefined_responses"
            "text_area text_area"
        ;
    }
    .chatbot_online ul{
        margin-top: 30px;
        font-size: 3.5vw;
    }
    #bert input {
        font-size: 3vw;
    }
    #history_row {
        font-size: 3.5vw;
    }
    #bert button {
        font-size: 3.5vw;
    }
}

/********************/
/* Patient Progress*/
/*******************/
#progress {
    background-color: #dcf4ff;
    height:100vh;
    display:grid;
    grid-template-columns:
        1fr
        2fr
        2fr
        1fr
    ;
    grid-gap: 0px;
    grid-template-rows:
        1fr
        1fr
        1fr
        1fr
    ;
    grid-template-areas: 
        ". my_progress my_progress ."
        ". data_types data_types ."
        ". graph graph ."
        ". back logout ."
    ;
}
.my_progress {
    grid-area: my_progress;
    margin-top: 0;
    margin-bottom: 0;
}
.my_progress h1 {
    text-align: center;
    margin-top: 41px;
    margin-bottom: 0px;
    font-size: 3.5vw;
    font-weight: lighter; 
}
.data_types {
    grid-area: data_types;
}
.data_types ul {
    list-style:none;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    margin: 0 auto;
}
.data_types ul li input[type=button] {
    list-style-type: none;
    padding-left: 0px;
    text-decoration: none;
    border:3px solid var(--accent-grey-01);
    border-radius:130em;
    color: var(--accent-grey-01);
    padding: 15px 10px;
    margin-top: 49px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: none;
    background-color: white;
    font-size: 1.8vw;
    display: inline-block;
}
.data_types label, .data_types select {
    font-size: 2vw;
    margin-bottom: 10px;
    margin-top: 40px;
}
.graph {
    grid-area: graph;
    background-color:#dcf4ff;
    border: none;
    border-radius: 5em;
    display: inline-block;
}
.graph h2 {
    font-size: 2vw;
}
.logout {
    grid-area: logout;
    display: inline-block;
    text-align: left;
    margin-left: 5px;
}
.logout input[type=button], .back input[type=button] {
    border: none;
    border-radius:130em;
    color: white;
    background-color:#102b3d;
    padding: 15px 20px;
    font-size: 1.5vw;
    margin-top: 10px;
}
.back {
    grid-area: back;
    text-align: right;
    display: inline-block;
    margin-right: 5px;
}
.logout input[type=button]:hover, .back input[type=button]:hover, .data_types .nav input[type=button]:hover, .data_types .nav .active {
    background-color: #1a6692;
}
.preview_analysis {
    align-self: center;
    margin: 0 auto;
    display: inline-block;
}
@media screen and (max-width: 890px) {
    #progress {
        background-color: #dcf4ff;
        height:100vh;
        display:grid;
        grid-template-columns:
            1fr
            1fr
        ;
        grid-gap: 0px;
        grid-template-rows:
            1fr
            1fr
            2fr
            1fr
        ;
        grid-template-areas: 
            "my_progress my_progress"
            "data_types data_types"
            "graph graph"
            "back logout"
        ;
    }
    .my_progress h1 {
        font-size: 6vw;
        margin-top: 80px;
    }
    .data_types ul li input[type=button]{
        margin: 4px;
        padding: 4px 4px;
        font-size: 2.8vw;
    }
    .back input[type=button], .logout input[type=button] {
        font-size: 4vw;
    }
    .data_types label, .data_types select {
        font-size: 3.5vw;
    }
    .graph h2 {
        font-size: 4vw;
    }
    .graph {
        border: none;
        border-radius: 0em;
    }
}

/***********************/
/* Admin Landing Page */
/*********************/
#admin {
    background-color: var(--accent-blue-01);
    height: 100vh;
    display: grid;
    grid-template-columns: 
        1fr
        3fr
        1fr
    ;
    grid-gap:0px;
    grid-template-rows: 
        100px
        1fr
        317px
        1fr
        100px
    ;
    grid-template-areas: 
    ". . ."
    ". a_header ."
    ". a_buttons ."
    ". . ."
    ". a_footer ."
    ;
}
.headspace {
    grid-area: headspace;
}
.a_header {
    grid-area: a_header;
    color: white;
    text-align: center;
}
.a_header h1 {
    font-size: 3vw;
}
#logout_confirm h1 {
    font-size: 30px;
}
.a_header h3 {
    font-size: 2vw;
}
.a_buttons {
    grid-area: a_buttons;
    text-align: center;
}
.a_buttons .nav {
    display: block;
    margin-bottom: 20px;
}
.a_buttons .nav input[type=button] {
    margin-bottom: 50px;
    display: inline-block;
    font-size: 2vw;
    background-color: black;
    padding: 20px 20px;
    border: none;
    color: white;
    border-radius: 50em;
}
#logout_confirm .nav a {
    background-color: var(--accent-blue-04);
    border: none;
}
.a_footer {
    grid-area: a_footer;
    text-align: right;
    display: inline-block;
}
.a_footer input[type=button] {
    margin-top: 0px;
    background-color: black;
    color: white;
    border: none;
    font-size: 2vw;
    border-radius: 50em;
    padding: 15px 20px;
}

.a_buttons .nav input[type=button]:hover, .a_footer input[type=button]:hover {
    color: black;
    background-color: white;
}

@media screen and (max-width: 1100px) {
    #admin {
        background-color: var(--accent-blue-01);
        height: 100vh;
        display: grid;
        grid-template-columns: 
            1fr
        ;
        grid-gap:0px;
        grid-template-rows: 
            1fr
            1fr
            317px
            1fr
            100px
        ;
        grid-template-areas: 
        "."
        "a_header"
        "a_buttons"
        "."
        "a_footer"
        ;
    }
    #admin h1 {
        font-size: 7vw;
    }
    #admin h3 {
        font-size: 6vw;
    }
    #admin .a_buttons input[type=button] {
        font-size: 4vw;
    }
    .a_footer input[type=button] {
        margin-right: 16px;
        font-size: 4vw;
    }

}

/***********************/
/* Create new patient */
/*********************/
#new_patient {
    display: grid;
    background-color: var(--accent-grey-01);
    text-align: center;
    margin: 0;
    line-height: 2em;
    grid-template-columns: 
    1fr
    3fr
    1fr
    ;

    grid-template-rows: 
    150px
    2fr
    1fr
    ;
    grid-template-areas:
    ". np_title ."
    ". np_form ."
    ". . ."
    ;
}
#new_patient .title {
    grid-area: np_title;
}
#new_patient h1 {
    font-size: 3vw;
    margin-top: 50px;
}
.new_patient_form {
    grid-area: np_form;
    margin: 0 auto;
    text-align: left;
    font-size: 1.3vw;
    color: black;
}
.new_patient_form .nav {
    display: flex;
    align-content: space-between;
}
#inp {
    margin-left: 20px;
    padding: 30px 30px;
}
.new_patient_form h2 {
    text-align: center;
    font-size: 2.5vw;
}
.new_patient_form form tr {
    margin-right: 2px;
}
#new_patient .nav {
    margin: 0 auto;
}
#new_patient input[type=button] {
    margin-right: 10px;
}
.new_patient_form form .instructions {
    font-size: 1.2vw;
}
@media screen and (max-width: 1100px) {
    #new_patient {
        display: grid;
        background-color: var(--accent-grey-01);
        text-align: center;
        margin: 0;
        line-height: 2em;
        grid-template-columns: 
        100vw
        ;
    
        grid-template-rows: 
        150px
        2fr
        1fr
        ;
        grid-template-areas:
        "np_title"
        "np_form"
        "."
        ;
    }
    .new_patient_form .nav {
        display:block;
        margin: 0 auto;
    }
    .new_patient_form #inst, .new_patient_form #inp {
        padding: 10px 35px;
    }
    .new_patient_form .nav #buttons{
        display: flex;
        align-content: space-between;
        font-size: 3vw;
    }
    #new_patient h1 {
        font-size: 7vw;
    }
    .new_patient_form form .instructions {
        font-size: 3vw;
    }
    .new_patient_form {
        font-size: 2.8vw;
    }
    #new_patient input[type=button], #new_patient button {
        font-size: 4vw;
    }
}

@media screen and (max-width: 800px) {
    #new_patient {
        display: grid;
        grid-template-columns: 
        100vw
        ;
    
        grid-template-rows: 
        100px
        2fr
        1fr
        ;
        grid-template-areas:
        "np_title"
        "np_form"
        "."
        ;
    }
}

/***********/
/* Survey */
/*********/

#survey {
    background-color: var(--accent-blue-05);
    display: grid;

    grid-template-columns:
        5vw 
        45vw
        45vw
        5vw
    ;
    grid-template-rows: 
        0px
        8vw
        1fr
        1fr
        1fr
        1fr
        100px
    ;
    grid-template-areas: 
    "headspace headspace headspace headspace"
    ". s_header s_header ."
    ". pre_s pre_s ."
    ". pre_s pre_s ."
    ". pre_s pre_s ."
    ". pre_s pre_s ."
    ". s_cancel s_submit ."
    ;
}
.survey_header {
    grid-area: s_header;
}
.survey_header h1 {
    font-size: 2vw;
    color: white;
    margin-left: 5px;
}
.survey_header h4 {
    font-style: italic;
    margin-left: 5px;
    color: white;
    font-size: 1.5vw;
}
.pre_session h4, .post_session h4 {
    font-size: 1.2vw;
    color: white;
    margin-left: 20px;
    margin-bottom: 10px;
}
.pre_session {
    grid-area: pre_s;
    border-radius: 0em;
    border: none;
    color: white;
}
.post_session {
    grid-area: post_s;
    border-radius: 3em;
    border: 3px solid white;
    color: white;
}
.pre_session form, .post_session form {
    margin-left: 20px;
    font-size: 1vw;
}
.pre_session form .fieldWrapper {
    font-size: 1vw;
    line-height: 1.5em;
    margin-bottom: 5px;
}
.pre_session input[type=checkbox], .pre_session input[type=number], .pre_session input[type=text], .post_session input {
    border-radius: 50em;
    border: 3px solid var(--accent-blue-04);
    background-color: var(--accent-blue-04);
    color: black;
    font-size: 1vw;
    margin-bottom: 10px;
}
.checkbox {
    margin-bottom: 5px;
    margin-right: 20px;
}
.SubmitButton {
    margin-top: 50px;
    background-color: black;
    color: white;
    border: none;
    font-size: 1vw;
    padding: 15px 20px;
    text-align: center;
    border-radius: 50em;
}
.SubmitButton:hover {
    background-color: white;
    color: black;
}
.survey_cancel {
    grid-area: s_cancel;
}
.survey_submit {
    grid-area: s_submit;
}
.survey_cancel, .survey_submit {
    text-align: center;
}
.survey_cancel a, .survey_submit a {
    display: inline-block;
    margin-top: 20px;
}

@media screen and (max-width: 1260px) {
    #survey {
        grid-template-columns:
            1fr 
            1fr
        ;
        grid-template-rows: 
            0px
            12vw
            1fr
            1fr
            1fr
            1fr
            100px
        ;
        grid-template-areas: 
        "headspace headspace"
        "s_header s_header"
        "pre_s pre_s"
        "pre_s pre_s"
        "pre_s pre_s"
        "pre_s pre_s"
        "s_cancel s_submit"
        ;
    }
    .pre_session {
        border: none;
        border-radius: 0em;

    }
    .pre_session form .fieldWrapper, .pre_session input, .post_session input, .SubmitButton {
        font-size: 1.5vw;
    }
    .survey_header h1 {
        font-size: 3vw;
        margin-top: 20px;
        margin-left: 20px;
    }
    .survey_header h4 {
        font-size: 2vw;
        margin-left: 20px;
    }
    #form_title {
        font-size: 1.8vw;
    }
}

@media screen and (max-width: 780px) {
    #survey {
        grid-template-columns:
            1fr 
            1fr
        ;
        grid-template-rows: 
            0px
            15vw
            1fr
            1fr
            1fr
            1fr
            100px
        ;
    }
    .pre_session {
        border: none;
        border-radius: 0em;

    }
    .pre_session form .fieldWrapper, .pre_session input, .post_session input, .SubmitButton {
        font-size: 2.2vw;
    }
    .survey_header h1 {
        font-size: 3vw;
        margin-top: 20px;
        margin-left: 20px;
    }
    .survey_header h4 {
        font-size: 2.5vw;
        margin-left: 20px;
    }
    #form_title {
        font-size: 2.2vw;
        line-height: 2em;
    }
}

@media screen and (max-width: 420px) {
    #survey {
        grid-template-columns:
            1fr 
            1fr
        ;
        grid-template-rows: 
            0px
            37vw
            1fr
            1fr
            1fr
            1fr
            100px
        ;
    }
    .pre_session {
        border: none;
        border-radius: 0em;

    }
    .pre_session form .fieldWrapper, .pre_session input, .post_session input, .SubmitButton {
        font-size: 3vw;
    }
    .survey_header h1 {
        font-size: 4vw;
        line-height: 1.8em;
    }
    .survey_header h4 {
        font-size: 3.5vw;
        line-height: 1.2em;
    }
    #form_title {
        font-size: 3.2vw;
        line-height: 2.2em;
    }
}


/******************/
/* Data Analysis */
/****************/
#admin_progress {
    display: grid;
    background-color: var(--accent-grey-01);
    color: white;
    text-align: center;
    padding: 0;
    grid-template-columns: 
        1fr
        2fr
        1fr
    ;
    grid-template-rows: 
        170px
        1fr
        0px
        0px
        0px
        1fr
    ;
    grid-template-areas: 
        ". progress_header ."
        ". choose_site ."
        ". graph_links ."
        ". graph_links ."
        ". combined ."
        "progress_footer progress_footer progress_footer"
    ;
}
.progress_header {
    grid-area: progress_header;
    text-align: center;
    color: white;
    font-size: 2vw;
}
.choose_site {
    grid-area: choose_site;
    font-size: 1.8vw;
    border-radius: 3em;
    border: none;
    text-align: center;
    margin: 0 auto;
    width: 600px;
}
select {
    background-color:#102b3d;
    border: none;
    color: white;
    font-size: 1.8vw;
    padding: 10px 10px;
}
.graph_links {
    grid-area: graph_links;
    text-align: center;
    color: white;
}
.graph_links .nav {
    display: flex;
    justify-content: center;
    color: white;
}
.graph_links .nav a {
    display: inline-block;
    border-radius: 2em;
    border: 3px solid white;
    font-size: 25px;
    width: 200px;
    height: 100px;
    text-align: center;
    background-color: var(--accent-blue-05);
    padding-top: 50px;
    color: white;
}
.choose_site input[type=button], .see-results {
    justify-content: center;
    border-radius: 50em;
    border: none;
    background-color: white;
    color: black;
    padding: 20px 20px;
    margin-top: 30px;
    font-weight: none;
    font-size: 1.5vw;
    margin-bottom: 10px;
}
.see-results:hover {
    background-color:#102b3d;
    color:white;
}

#admin_progress a{
    color: white;
}
.combined_data_link {
    grid-area: combined;
    display: flex;
    justify-content: center;
}
.combined_data_link a {
    display: inline-block;
    border-radius: 2em;
    font-size: 25px;
    width: 400px;
    height: 100px;
    text-align: center;
    background-color: var(--accent-blue-05);
    padding-top: 50px;
}
.progress_footer {
    margin-top: 30px;
    grid-area: progress_footer;
    background-color: var(--accent-grey-01);
}
.progress_footer .nav input[type=button] {
    text-decoration: none;
    border: none;
    border-radius:50em;
    color: white;
    padding: 10px 10px;
    margin: 4px 4px;
    background-color: black;
    padding: 20px 20px;
    font-size: 1.5vw;
}
.progress_footer .nav input[type=button]:hover {
    color: black;
    background-color: white;
}

@media screen and (max-width: 1123px) {
    #admin_progress {
        grid-template-columns: 
            1fr
        ;
        grid-template-rows: 
            120px
            30px
            1fr
            140px
            1fr
        ;
        grid-template-areas: 
            "progress_header"
            "."
            "choose_site"
            "progress_footer"
            "."
        ;
    }
    .progress_header {
        font-size: 3.5vw;
    }
    .choose_site {
        text-align: center;
        align-content: center;
        font-size: 3vw;
    }
    .see-results, .progress_footer .nav input[type=button] {
        padding: 15px, 15px;
        font-size: 2.5vw;
    }
    select {
        font-size: 2.5vw;
    }
}
@media screen and (max-width: 514px) {
    #admin_progress {
        grid-template-columns: 
            1fr
        ;
        grid-template-rows: 
            100px
            20px
            1fr
            140px
            1fr
        ;
        grid-template-areas: 
            "progress_header"
            "."
            "choose_site"
            "progress_footer"
            "."
        ;
    }
    
    .graph_links {
        margin: 0px;
        display: inline-block;
    }
    .graph_links .nav {
        margin: 0;
        display: block;
    }
    .graph_links .nav a {
        padding: 10px 10px;
        margin: 0;
        margin-bottom: 0px;
    }
    .choose_site {
        border-radius: 0em;
        border: none;
        background-color: var(--accent-grey-01);
        width:350px;
        font-size: 6vw;
    }
    .progress_header {
        font-size: 5.5vw;
        margin-top: 20px;
    }
    .see-results, .progress_footer .nav input[type=button] {
        padding: 15px 15px;
        font-size: 3.5vw;
    }
    select {
        font-size: 4vw;
        background-color: #102b3d;
    }
}


/*********************/
/** Data Analytics **/
/*******************/
#data_preview {
    background-color: var(--accent-grey-01);
    display: grid;
    grid-template-columns: 
    1fr
    1fr
    1fr
    1fr
    ;
    grid-template-rows: 
    25px
    160px
    1fr
    1fr
    200px
    1fr
    ;
    grid-template-areas: 
    "headspace headspace headspace headspace"
    ". prev_header prev_header ."
    ". stats stats ."
    ". stats stats ."
    "progress_footer progress_footer progress_footer progress_footer"
    ". . . ."
    ;
}
.prev_header {
    grid-area: prev_header;
    color: white;
    display: inline-block;
    margin-top: 20px;
    font-size: 1.8vw;
}
.data_stats {
    grid-area: stats;
    justify-content: center;
    color: white;
    background-color:#bfebff;
    border-radius: 2em;
    
}
.data_stats .data_item {
    margin-bottom: 20px;
    margin-top: 0px;
}
.data_stats h3 {
    color:#1a6692;
    padding: 5px 5px;
    margin: 20px 20px;
    font-size: 1.8vw;
}
.data_stats h4 {
    color:black;
    text-align: left;
    margin: 30px 30px;
    font-size: 1.3vw;
}
.data_stats .graph {
    justify-content: center;
}
#data_preview .progress_footer {
    margin-top: 50px;

}

@media screen and (max-width: 1240px ) {
    #data_preview {
        display: grid;
        background-color:#bfebff;
        grid-template-columns: 
        30px
        1fr
        1fr
        30px
        ;
        grid-template-rows: 
        25px
        12vw
        20px
        1fr
        1fr
        200px
        1fr
        ;
        grid-template-areas: 
        "headspace headspace headspace headspace"
        "prev_header prev_header prev_header prev_header"
        ". . . ."
        ". stats stats ."
        ". stats stats ."
        "progress_footer progress_footer progress_footer progress_footer"
        ". . . ."
        ;
    }
    .prev_header {
        margin-bottom: 20px;
        margin-left: 70px;
        margin-top: 10px;
        font-size: 3vw;
        color: black;
    }
    .data_stats {
        background-color:#bfebff;
        margin-top: 0;
    }
    .data_stats h3 {
        margin-top: 10px;
        margin-left: 40px;
        font-size: 3vw;
    }
    .data_stats h4 {
        font-size: 2vw;
        margin-left: 70px;
    }
    #data_preview .progress_footer {
        background-color: #bfebff;
    }
}

@media screen and (max-width: 600px ) {
    #data_preview {
        display: grid;
        grid-template-columns: 
        1fr
        1fr
        1fr
        1fr
        ;
        grid-template-rows: 
        25px
        100px
        1fr
        1fr
        200px
        1fr
        ;
        grid-template-areas: 
        "headspace headspace headspace headspace"
        "prev_header prev_header prev_header prev_header"
        "stats stats stats stats"
        "stats stats stats stats"
        "progress_footer progress_footer progress_footer progress_footer"
        ". . . ."
        ;
    }
    .prev_header {
        font-size: 5.5vw;
        margin-left: 10px;
    }
    .data_stats {
        background-color:#bfebff;
    }
    .data_stats h3 {
        font-size: 5vw;
        margin-left: 30px;
    }
    .data_stats h4 {
        font-size: 4vw;
        margin-left: 45px;
    }
}
